<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
#* @vtlvariable name="stringEscapeUtils" type="org.apache.commons.lang.StringEscapeUtils" *#
#* @vtlvariable name="repository" type="com.atlassian.stash.Repository" *#
#* @vtlvariable name="smtpNotificationRenderer" type="be.foreach.stash.hook.SmtpNotificationRenderer" *#
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><style type="text/css"><!--
#msg dl { border: 1px #006 solid; background: #369; padding: 6px; color: #fff; }
#msg dt { float: left; width: 6em; font-weight: bold; }
#msg dt:after { content:':';}
#msg dl, #msg dt, #msg ul, #msg li, #header, #footer { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt;  }
#msg dl a:link    { color:#fc3; }
#msg dl a:active  { color:#ff0; }
#msg dl a:visited { color:#cc6; }
h3 { font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt; font-weight: bold; }
#msg pre { overflow: auto; background: #ffc; border: 1px #fc0 solid; padding: 6px; }
#msg ul, pre { overflow: auto; }
#header, #footer { color: #fff; background: #636; border: 1px #300 solid; padding: 6px; }
#patch { width: 100%; }
#patch h4 {font-family: verdana,arial,helvetica,sans-serif;font-size:10pt;padding:8px;background:#369;color:#fff;margin:0;}
#patch .propset h4, #patch .binary h4 {margin:0;}
#patch pre {padding:0;line-height:1.2em;margin:0;}
#patch .diff {width:100%;background:#eee;padding: 0 0 10px 0;overflow:auto;}
#patch .propset .diff, #patch .binary .diff  {padding:10px 0;}
#patch span {display:block;padding:0 10px;}
#patch .modfile, #patch .addfile, #patch .delfile, #patch .propset, #patch .binary, #patch .copfile {border:1px solid #ccc;margin:10px 0;}
#patch .lines, .info {color:#888;background:#fff;}
--></style>
<title>TITLE</title>
</head>
<body style="font-family: verdana,arial,helvetica,sans-serif; font-size: 10pt;"> #set( $isNewBranch = $smtpNotificationRenderer.isCreatedBranch( $refChange ) )
    #if( $smtpNotificationRenderer.isDeletedBranch( $refChange ) )
        #if ( $smtpNotificationRenderer.isTag( $refChange ) )
            #branchStatus( 'Tag DELETED' $currentUser )
        #else
            #branchstatus( 'Branch DELETED' $currentUser )
        #end
    #else
        #if( $isNewBranch )
            #if ( $smtpNotificationRenderer.isTag( $refChage ) )
                #branchStatus( 'Tag CREATED' $currentUser )
            #else
                #branchstatus( 'Branch CREATED' $currentUser )
            #end
    #else
        #branchstatus( 'PUSH' $currentUser )
    #end
    #set( $hasCommitsOnOnlyThisBranch = false )
    #set( $changesets = $smtpNotificationRenderer.getChangesetPage( $repository, $refChange ) )
    #set( $numberOfChangesToShow = 10 )
    #set( $skippedBranches = 0 )
    #if( $changesets && $changesets.size > 0 )
        #foreach( $changeset in $changesets.values.iterator() )
            #set( $branches = $smtpNotificationRenderer.getBranches( $repository, $changeset ) )
            #if( $branches.size() == 1 && $isNewBranch || !$isNewBranch )
            <div id="msg">
                <dl>
                    <dt>Commit</dt> #set( $changesetUrl = $smtpNotificationRenderer.getChangesetUrl( $repository, $changeset ) )
                    <dd> #set( $parents = $changeset.parents )
                        <a href="$changesetUrl">$smtpNotificationRenderer.getShortHash($changeset.id)</a> #if( $parents && $parents.size() > 1 ) - parents: #foreach ( $parent in $parents )<a href="$smtpNotificationRenderer.getMinimalChangesetUrl( $repository, $parent )">$parent.displayId</a>#if( $velocityHasNext )+#end#end#end
                    </dd>
                    <dt>Contained in branches</dt>
                    <dd>#foreach( $branch in $branches ) $branch #if( $velocityHasNext ) / #end #end</dd> #if( $branches.size() == 1 ) #set( $hasCommitsOnOnlyThisBranch = true ) #end
                    <dt>Author</dt>
                    <dd>$changeset.author.name - <a href="mailto:$changeset.author.emailAddress">$changeset.author.emailAddress</a></dd>
                    <dt>Date</dt><dd>$changeset.authorTimestamp</dd>
                </dl>
                <h3>Log message</h3> #set( $logMessage = $stringEscapeUtils.escapeHtml( $changeset.message ) )
                <pre style="overflow: auto; background: #ffc; border: 1px #fc0 solid; padding: 6px;">$logMessage</pre>
            </div>
            <div id="patch"> #set( $detailedChangesetPage = $smtpNotificationRenderer.getDetailedChangesetPage( $repository, $changesets, $changeset ) )
                #if( $detailedChangesetPage.size > 0 )
                    #if( $renderLightEmail )
                        <h3>$detailedChangesetPage.size modified path(s)</h3>
                    #else
                        <h3>Modified path(s)</h3>
                        <ul>
                            #foreach ( $changesetPage in $detailedChangesetPage.values.iterator() )
                                #set( $changesetPage = $smtpNotificationRenderer.getChanges( $changesetPage ) )
                                #foreach( $change in $changesetPage.values.iterator() ) #set( $remainingChanges = $changesetPage.size - $numberOfChangesToShow )
                                    #if( $velocityCount > $numberOfChangesToShow )
                                        <li><a href="$changesetUrl">... $remainingChanges more changes</a></li>
                                        #break
                                    #end
                                    <li><a href="$changesetUrl#$change.path">$change.path ($change.type)</a></li>
                                #end
                            #end
                        </ul>
                    #end

                #else
                    <h3>No modified paths</h3>
                #end
            </div>
            #else
                #set( $skippedBranches = $skippedBranches+1 )
            #end
        #end
        #if( $smtpNotificationRenderer.isCreatedBranch( $refChange ) )
            #if( $skippedBranches == 0 )
                <p>No commits on this branch yet</p>
            #else
                <p>Skipped $skippedBranches commits from other branches</p>
            #end
        #end
    #else
        <p>No commits on this branch yet</p>
    #end
#end
</body>
</html>

#macro( branchstatus $status $currentUser  )
<p>$status by $currentUser.displayName - $currentUser.emailAddress</p>
#end